extends layout
block content
 h1= title
 form(id='capForm', action="/resource/cap", method="POST")
  div.form-group
    label.capAttr(for='brand') cap Brand
    input#brand(type='String', name='brand')
  div.form-group
    label.capAttr(for='color') cap Color
    input#color(type='String', name='color')
  div.form-group
    label.capAttr(for='price') cap Price
    input#price(type='number', name='price')
  input(type="submit")
 script.
  document.forms['capForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });